/* ==============Chung============= */
* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

.fixed-header {
    background: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* =========== Navbar ========== */

.navbar {
    padding: 12px 0;
    display: flex;
    align-items: center;
}

.navbar .content {
    display: flex;
    align-items: center;
}

.navbar .nav {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
    font-weight: 500;
    font-size: 1.4rem;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 20px 14px ;
}

.navbar .actions-link {
    font-weight: 500;
    font-style: 1.4rem;
    color: var(--primary-color);
}

.navbar .actions-btn {
    border-radius: 8px;
    padding: 13px 16px;
    margin-left: 18px;
}

/* =========== Hero =========== */
.hero {
    margin-top: 130px;
}

.hero-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #e6f0ff;
    height: 100vh;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    font-weight: 700;
    font-size: 6.2rem;
    margin-top: 8px;
    line-height: 1.19;
    color: #000336;
}

.hero .desc {
    font-weight: 400;
    margin-top: 30px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}

.hero .hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero .hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* ========== Clients =========== */
.clients {
    margin-top: 79px;
    padding: 43px 0 64px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    /* background-color: orange; */
}
.clients a:nth-child(3) {
    padding: 31.87px 41px 22.62px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

/* ========== Guides =========== */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    margin: 20px auto 0;
    width: 459px;
    max-width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}

.guides .list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guides .guide-item {
    margin: 0 70px;
    text-align: center;
}

.guides .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}

.guides .arrow {
    margin-left: 6px;
}

.guides .guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}

/* ======== Featured ======== */
.featured {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.featured .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}

.featured .link .arrow {
    margin-left: 8px;
}

.featured .list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.featured .item {
    flex: 1;
    background: #fff;
    border-radius: 12px;
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 22px;
}

.featured .item .title {
    --line-clamp: 2;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #000339;
}

.featured .item .desc {
    --line-clamp: 3;
    word-break: break-all;
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
}

.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.01em;
    color: #4d4d52;
}
/* ========== Stats =========== */

.stats {
    margin-top: 75px;
    padding: 50px 0;
    /* background-color: orange; */
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}

.stats .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.stats .sub-title::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

/* ========== Stats trend =========== */

.stats .img-block .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0px 0px 12px 12px;
}

.img-block .stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}

.img-block .stats-trend .icon {
    margin-left: auto;
}

.img-block .stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.img-block .stats-trend .separate {
    height: 1.2px;
    background: #e9e9e9;
    margin-top: 25.51px;
}

.stats-trend .avatar-block .avatar-group {
    display: flex;
}

.avatar-block .avatar-group .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
}

.avatar-block .avatar-group .avatar:first-child {
    margin-left: 0;
}

.stats-trend .avatar-block {
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
    display: flex;
}

.stats-trend .avatar-test {
    background-color: #24d6d9;
    font-weight: 450;
    font-size: 0.7rem;
    line-height: 16px;
    text-align: center;
    color: #fff;
}

.stats .content > .row:nth-child(2) {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
}

.stats .row .qty {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}

.stats .row .qty-desc {
    margin-top: 22px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7B8087;
}

/* ========== Subscription =========== */
.subscription {
    margin-top: 90px;
}

.subscription .body {
    display: flex;
    position: relative;
    align-items: center;
    height: 370px;
    background: #063183;
    border-radius: 20px;
}

.subscription .info {
    padding: 0 80px;
    width: 671px;
}

.subscription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #FFFFFF;
}

.subscription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #FFFFFF;
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    background-color: #fff;
    color: #002366;
}

.subscription .image {
    position: absolute;
    right: 221px;
    bottom: 0;
}

/* ========== Footer =========== */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
    gap: 185px;
}

.footer .heading {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 2rem;
    color: #1C1C1D;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7A7A7E;
}

.footer .item a {
    display: flex;
    margin-top: 18px;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.6rem;
    color: #7A7A7E;
}

.footer .social {
    display: flex;
    gap: 16px;
    margin-top: 40px;
}

.footer .social-link {
    display: flex;
    width: 28.5px;
    height: 28.5px;
    background-color: #F9F9F9;
    align-items: center;
    justify-content: center;
}

.footer .row:nth-child(2) {
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    color: #C2C2C2;
}

/* ========== Actions =========== */
.navbar .nav li a:hover {
    color: violet;
}

.btn:hover {
    transition: 0.55s;
    opacity: 0.8;
    background-color: violet;
    color: green;
}

.navbar .actions-link:hover {
    color: violet;
}
